{% extends "base.html" %}
{% block title %}Create an Encrypted Paste{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>Create an Encrypted Paste</h1>
    </div>
    <p>Cryptbin is a pastebin that does all encryption and decryption on the client side using a JavaScript
            <a href="https://en.wikipedia.org/wiki/One-time_pad">one-time pad</a> implementation.</p>
    <form method="post">
        <div class="form-group">
            <label for="paste-contents">Paste Here:</label>
            <textarea name="paste-contents" id="paste-contents" rows="10" class="form-control"></textarea>
        </div>
        <button type="button" class="btn btn-default" id="submit-paste">Encrypt and Submit</button>
    </form>
    <div id="createSuccess" class="hidden">
        <div class="alert alert-success" role="alert">
            <strong>Sick!</strong> Your paste has been created.
        </div>
        <div class="form-group">
            <label for="paste-url">Share this link:</label>
            <input type="text" name="paste-url" id="paste-url" readonly="readonly">
        </div>
    </div>
{%  endblock %}
{% block footer %}
    <script>

        $(document).ready(function(){

            $('#submit-paste').click(function(){

                $('#submit-paste').prop("disabled", true);
                var paste = $('#paste-contents').val();

                if (paste.length < 25) {
                    alert('Your paste must be at least 25 bytes long.');
                    $('#submit-paste').prop("disabled", false);
                    return;
                }

                var encryptResult = xorotp.generateKeyAndEncrypt(paste);
                var ciphertext = encryptResult.ciphertext;
                var key = encryptResult.key;
                
                // submit encrypted contents to server via AJAX
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('post_paste') }}',
                    data: JSON.stringify({'paste-contents': ciphertext}),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function(data) {
                        var url = data['paste_url'] + '#' + key;
                        $('#paste-url').val(url);
                        $('#createSuccess').removeClass("hidden");
                        $('#submit-paste').prop("disabled", false);
                    },
                    error: function(xhr, status ,error) {
                        alert("Error: " + status + " -- " + error);
                        $('#submit-paste').prop("disabled", false);
                    }
                });

                return false;

            });

            $("#paste-url").focus(function(){
                var $this = $(this);
                $this.select();

                $this.mouseup(function(){
                    $this.unbind("mouseup");
                    return false;
                });
            });

        });

    </script>
{% endblock %}